@import 'config';
@import 'inputs';
@import 'buttons';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $background-color;
    color: $text-color;
    font-family: $header-font;
}

img {
    width: 100px;
    height: 100px;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .app__header {
        color: $header-color;
        letter-spacing: 0.3em;
        font-size: 4em;
        margin-top: 1em;
    }

    .app__imageviewer {

        width: 60%;

        .imageviewer__components {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .components__image {
                z-index: -1;
                width: 50%;
                height: 50%;
            }
        }

        .imageviewer__loading {
            width: 1000px;
        }
    }
}